<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_ACCELEROMETER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sturzmart_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sturzapp"
        tools:targetApi="31">



        <activity
            android:name=".gui.notfallkontakt_gui.Notfallkontakt_RP_Daten_Anzeigen"
            android:exported="false" />
        <activity
            android:name=".gui.notfallkontakt_gui.Notfallkontakt_Daten_Anzeigen"
            android:exported="false" />
        <activity
            android:name=".Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.risikopatient_gui.Risikopatient_Notfallkontakt_Aendern"
            android:exported="false" />
        <activity
            android:name=".gui.notfallkontakt_gui.Notfallkontakt_Daten_Aendern"
            android:exported="false" />
        <activity
            android:name=".gui.risikopatient_gui.Risikopatient_Daten_Aendern"
            android:exported="false" />
        <activity
            android:name=".gui.risikopatient_gui.Risikopatient_Startseite"
            android:exported="false" />
        <activity
            android:name=".gui.risikopatient_gui.Risikopatient_Erstellen"
            android:exported="false" />
        <activity
            android:name=".gui.notfallkontakt_gui.Notfallkontakt_Startseite"
            android:exported="false" />
        <activity
            android:name=".gui.notfallkontakt_gui.Notfallkontakt_Erstellen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service android:name=".SturzerkennungsService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>